/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid var(--light-grey);
  border-radius: 32px;
}
.logo-container {
  padding: 32px;
  display: flex;
  align-items: center;
}
.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  width: 162px;
  height: 122px;
  background: var(--grey);
  border-radius: 8px;
}
.score-title {
  letter-spacing: 3px;
  color: var(--dark-blue);
  margin: 0;
}
.score-score {
  color: var(--navy);
  margin: 0;
  line-height: 64px;
  font-size: 64px;
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "paper scissors"
    "rock rock";
  gap: 32px;
  place-items: center;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  padding-top: 64px;
}
.game::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 18%;
  top: 30%;
  background: url("../assets/bg-triangle.svg") no-repeat;
  z-index: -5;
}

.choice-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice-button:focus .choice.paper,
.choice-button:hover .choice.paper {
  transition: background 0.3s ease;
  background: var(--light-yellow);
}
.choice-button:focus .choice.scissors,
.choice-button:hover .choice.scissors {
  transition: background 0.3s ease;
  background: var(--light-red);
}
.choice-button:focus .choice.rock,
.choice-button:hover .choice.rock {
  background: var(--light-blue);
}

.choice {
  transition: background 0.3s ease;
  display: grid;
  place-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  background: var(--grey);
  border-radius: 50%;
  font-size: 86px;
  color: var(--navy);
  box-shadow: inset 0 8px var(--shadow-light);
}
.choice::before, .choice::after {
  content: '';
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -2;
}
.choice::after {
  z-index: -3;
}

.choice.paper::before {
  background: var(--yellow);
  box-shadow: 0 8px var(--shadow-medium), 0 8px var(--yellow);
}
.choice.scissors::before {
  background: var(--red);
  box-shadow: 0 8px var(--shadow-medium), 0 8px var(--red);
}
.choice.rock::before {
  background: var(--blue);
  box-shadow: 0 8px var(--shadow-medium), 0 8px var(--blue);
}

.choice-button[value='rock'] {
  grid-area: rock;
}
.choice-button[value='paper'] {
  grid-area: paper;
}
.choice-button[value='scissors'] {
  grid-area: scissors;
}

/* Results Section */
.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "player-title . cpu-title"
    "player-choice results-outcome cpu-choice";
  gap: 16px;
  place-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.results-heading {
  text-align: center;
  font-size: 24px;
  padding: 16px;
}
.results-result {
  display: grid;
  place-items: center;
  min-width: 208px;
  min-height: 208px;
  transform: scale(1.2);
  border-radius: 50%;
  z-index: -1;
}
.result-container-cpu {
  animation: riseReveal 0.5s;
}
.result-container-player {
  animation: riseReveal 0.5s;
}
.results-heading.player {
  grid-area: player-title;
}
.results-heading.cpu {
  grid-area: cpu-title;
}
.results-result.player {
  grid-area: player-choice;
}
.results-result.cpu {
  grid-area: cpu-choice;
}


.results-outcome {
  animation: reveal 1s;
  grid-area: results-outcome;
  display: grid;
  place-items: center;
}
.results-text {
  margin: 0;
  letter-spacing: 2px;
  font-size: 56px;
  padding-bottom: 8px;
}
.play-again-button {
  transition: color 0.5s ease;
  font-family: inherit;       
  animation: delayedReveal 1s;
  background-color: white;
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  color: var(--navy);
  padding: 10px 56px;
  font-size: 21px;
  letter-spacing: 2px;
}
.play-again-button:focus {
  border: 2px solid var(--light-grey);
}
.play-again-button:hover {
  color: var(--red);
}

/* Animations */
.won {
  z-index: -2;
}
.won div .choice::after {
  animation: rings 1s;
  box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
}
@keyframes riseReveal {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rings {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes delayedReveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile view */
@media screen and (max-width: 750px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "player-title cpu-title"
      "player-choice cpu-choice"
      "results-outcome results-outcome";
  }
}
@media screen and (max-width: 700px) {
  .header {
    width: 90%;
  }
  .game::before {
    content: none;
  }
  .game {
    width: 360px;
    height: 360px;
  }
  .choice {
    width: 120px;
    height: 120px;
    font-size: 56px;
  }
  .results {
    gap: 8px;
  }
  .results-result {
    min-width: 180px;
    min-height: 180px;
    transform: scale(1.1);
  }
  .results-outcome {
    padding-top: 32px;
  }
}
